<div *ngIf="!loadingPage; then thenPage else elsePage"></div>
<ng-template #thenPage>
    <label for="cars">Language: </label>
    <select [(ngModel)]="selectedLanguage" (change)="changeLang()">
        <option value=""> --- Select Language --- </option>
        <option *ngFor="let l of langs" [value]="l">{{ l }}</option>
    </select>

    <div class="table-container">
        <table>
            <colgroup>
                <col span="1" class="border">
                <col span="1" style="width: max-content;">
                <col span="1" style="width: auto;">
                <col span="1" class="border">
            </colgroup>
            <tbody>
                <tr>
                    <th class="border">+</th>
                    <th #col1 class="border">{{ bcol1 }}</th>
                    <th #col2 class="border">{{ bcol2 }}</th>
                    <th class="border">+</th>
                </tr>
            </tbody>
            <tbody *ngIf="loadingWords">
                <tr class="table-content">
                    <td class="border">|</td>
                    <td colspan="2">
                        <app-loading></app-loading>
                    </td>
                    <td class="border">|</td>
                </tr>
            </tbody>
            <tbody *ngIf="!loadingWords">
                <tr class="table-content" *ngFor="let word of words">
                    <td class="border">|
                        <span *ngFor="let translation of translations.get(word.id); let i = index"><span
                                *ngIf="i>0"><br>|</span></span>
                    </td>
                    <td class="text-main nowrap">/<a routerLink="/words/{{word.word}}"
                            [queryParams]="{lang: selectedLanguage}">{{ word.word }}</a>/&nbsp;</td>
                    <td>
                        <div *ngIf="translations.has(word.id)">
                            <span class="text-grey" *ngFor="let translation of translations.get(word.id)">
                                <span class="text-blue">{{
                                    translation[2]?.word?translation[2]?.word:translation[0].altTranslation }}</span>
                                (<b>{{ translation[1].name.toLowerCase().substr(0,3) }}</b>) <br>
                            </span>
                        </div>
                        <div *ngIf="translations.has(word.id) && translations.get(word.id).length == 0" class="text-red">---</div>
                        <app-loading *ngIf="!translations.has(word.id)"></app-loading>
                    </td>
                    <td class="border">|
                        <span *ngFor="let translation of translations.get(word.id); let i = index"><span
                                *ngIf="i>0"><br>|</span></span>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border">+</th>
                    <th #col1 class="border">{{ bcol1 }}</th>
                    <th #col2 class="border">{{ bcol2 }}</th>
                    <th class="border">+</th>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>
<ng-template #elsePage>
    <app-loading></app-loading>
</ng-template>