<div class="table-container">
    <table>
        <colgroup>
            <col span="1" class="border">
            <col span="1" style="width: max-content;">
            <col span="1" style="width: auto;">
            <col span="1" class="border">
        </colgroup>
        <tbody>
            <tr>
                <th class="border">+</th>
                <th #col1 class="border">{{ bcol1 }}</th>
                <th #col2 class="border">{{ bcol2 }}</th>
                <th class="border">+</th>
            </tr>
            <tr class="table-content">
                <td class="border">|<br>|</td>
                <td class="text-main">/<a routerLink="/words/velv">velv</a>/ </td>
                <td class="text-blue">forest<br>fur</td>
                <td class="border">|<br>|</td>
            </tr>
            <tr class="table-content">
                <td class="border">|</td>
                <td class="text-main">/<a routerLink="/words/belero">belero</a>/&nbsp;</td>
                <td class="text-blue">savage</td>
                <td class="border">|</td>
            </tr>
            <tr>
                <th class="border">+</th>
                <th class="border">{{ bcol1 }}</th>
                <th class="border">{{ bcol2 }}</th>
                <th class="border">+</th>
            </tr>
        </tbody>
    </table>
</div>