<div *ngIf="!loadingPage; then thenPage else elsePage"></div>
<ng-template #thenPage>
    <label for="cars">Language: </label>
    <select [(ngModel)]="selectedLanguage" (change)="changeLang()">
        <option [value]="undefined" disabled> --- Select Language --- </option>
        <option *ngFor="let l of langs" [value]="l">{{ l }}</option>
    </select>
    <app-hr class="text-grey"></app-hr>
    <!-- <span class="text-grey" *ngFor="let item of Array(8)">-</span> -->
    <form [formGroup]="newWordForm" (ngSubmit)="submit(newWordForm.value)">
        <label for="pos">Part of speech: </label>
        <select formControlName="pos">
            <option *ngFor="let p of pos" [value]="p">{{ p }}</option>
        </select>
        <br />
        <label for="wordText">New Word:</label>
        <input id="wordText" type="text" formControlName="wordText">
        <br />
        <label for="makeForgotten">Forgotten: </label>
        <input id="makeForgotten" type="checkbox" class="regular-checkbox" formControlName="makeForgotten">
        <br />
        <button class="button" type="submit" hidden>Submit</button>
    </form>
    <app-hr class="text-grey"></app-hr>
    <div class="table-container">
        <table>
            <colgroup>
                <col span="1" class="border">
                <col span="1" style="width: max-content;">
                <col span="1" style="width: auto;">
                <col span="1" class="border">
                <col span="1" style="width: max-content;">
                <col span="1" class="border">
                <col span="1" style="width: max-content;">
                <col span="1" class="border">
            </colgroup>
            <tbody>
                <tr>
                    <th class="border">+</th>
                    <th app-horizontal-dash class="border"></th>
                    <th app-horizontal-dash class="border"></th>
                    <th class="border">+</th>
                    <th app-horizontal-dash class="border"></th>
                    <th class="border">+</th>
                    <th app-horizontal-dash class="border"></th>
                    <th class="border">+</th>
                </tr>
            </tbody>
            <tbody *ngIf="loadingWords">
                <tr class="table-content">
                    <td app-vertical-dash class="border"></td>
                    <td colspan="2">
                        <app-loading></app-loading>
                    </td>
                    <td app-vertical-dash class="border"></td>
                </tr>
            </tbody>
            <tbody *ngIf="!loadingWords">
                <tr class="table-content" *ngFor="let word of words">
                    <td app-vertical-dash class="border"></td>
                    <td class="text-main nowrap">/<a routerLink="/words/{{word.word}}"
                            [queryParams]="{lang: selectedLanguage}">{{ word.word }}</a>/
                        <span class="text-grey">[{{ word.partOfSpeech | shortPos }}]</span>&nbsp;</td>
                    <td>
                    </td>
                    <td app-vertical-dash class="border"></td>
                    <td>
                        <!-- <div *ngIf="!word.forgotten; then thenForget else elseForget"></div> -->
                        <a [ngClass]="!word.forgotten ? 'text-yellow-dull' : 'text-green-dull'" class=" link-btn" (click)="forgetWord(word)">{{!word.forgotten?'forget':'unforget'}}</a>
                    </td>
                    <td app-vertical-dash class="border"></td>
                    <td>
                        <a class="text-red-dull link-btn" (click)="deleteWord(word)">x</a>
                    </td>
                    <td app-vertical-dash class="border"></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border">+</th>
                    <th app-horizontal-dash class="border"></th>
                    <th app-horizontal-dash class="border"></th>
                    <th class="border">+</th>
                    <th app-horizontal-dash class="border"></th>
                    <th class="border">+</th>
                    <th app-horizontal-dash class="border"></th>
                    <th class="border">+</th>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>
<ng-template #elsePage>
    <app-loading></app-loading>
</ng-template>