<table *ngIf="selectedCategory && selectedCategory.id" style="width: 100%">
  <colgroup>
    <col span="1" style="width: 200px; text-align: right">
    <col class="border" span="1" style="width: 32px;">
    <col span="1" style="width: auto;">
    <col span="1" style="width: 81px;">
  </colgroup>
  <tbody>
  <tr>
    <th style="text-align: right">Name</th>
    <th class="border"></th>
    <th style="text-align: left">
      <input (ngModelChange)="canUpdate = true" [(ngModel)]="selectedCategory.name"/>
      <span *ngIf="canUpdate"> [ <a (click)="saveChanges()" class="text-green-dull">Update</a> ] </span>
    </th>
    <th class="border" style="text-align: right">
      <!--      <span *ngIf="canUpdate"> [ <a (click)="saveChanges()" class="text-green-dull">Update</a> ] </span>-->
    </th>
  </tr>
  <tr *ngFor="let p of pos; index as i">
    <th style="text-align: right">{{i == 0 ? 'Classes' : ''}}</th>
    <th class="border"></th>
    <th style="text-align: left">
      <span class="text-grey-dull" *ngIf="!selectedLanguage?.id">[ ]</span>
      <a class="text-grey-dull" *ngIf="!isConnected(p.id) && selectedLanguage?.id" (click)="connect(p)">[x]</a>
      <a class="text-grey-dull" *ngIf="isConnected(p.id) && selectedLanguage?.id" (click)="removeConnection(p)">[<span class="text-green-dull">o</span>]</a>
      <span
        [ngClass]="getLanguagePos(p)?.connectedToLanguage?'text-white':(getLanguagePos(p)?.usedInLanguage?'text-yellow-dull':'text-grey-dull')"> {{p.name}}</span>
    </th>
    <th class="border" style="text-align: right">
    </th>
  </tr>
  </tbody>
</table>
