<div class="footer-wrapper">
    <div class="footer">
        <table>
            <colgroup>
                <col span="1" class="border">
                <col span="1" style="width: auto;">
                <col span="1" class="border">
                <col span="1" style="width: 18px;">
                <col span="1" class="border">
            </colgroup>
            <tbody>
                <tr>
                    <th class="border">+</th>
                    <th #col class="border">{{ bcol }}</th>
                    <th class="border">+</th>
                    <th class="border">--</th>
                    <th class="border">+</th>
                </tr>
                <tr>
                    <th class="border">|</th>
                    <th class="text-grey"> WARNING </th>
                    <th class="border">|</th>
                    <th><a href="#" class="text-red-dull link-btn">x</a></th>
                    <th class="border">|</th>
                </tr>
                <tr>
                    <th class="border">+</th>
                    <th class="border">{{ bcol }}</th>
                    <th class="border">+</th>
                    <th class="border">--</th>
                    <th class="border">+</th>
                </tr>
            </tbody>
            <tbody>
                <tr class="table-content">
                    <td class="border">|<br>|<br>|<br>|</td>
                    <td class="text-red-dull break-word" colspan="3">Error in $.lang: parsing Database.Base.LanguageName
                        failed, expected one of the tags
                        ["Aboleth","Alko","ClassicalArcane","Dragon","Dwarven","Edhellen","English","Halfling","Infernal","Khuzd\251l","Kobold","LizardFolk","Necril","Nerlendic","Nitholan","NitholanEmpire","OldDragon","OldNerlendic","OldNitholan","OldRunic","Orkish","PrimalMagic","ProtoCreation","ProtoDragon","ProtoDwarven","ProtoElven","ProtoHuman","ProtoMaterial","ProtoMonster","ProtoOrk","ProtoTengu","Queran","SlaveRunic","Sylvan","Titan"],
                        but found tag ""</td>
                    <td class="border">|<br>|<br>|<br>|</td>
                </tr>
            </tbody>
            <tbody>
                <tr class="table-content">
                    <td class="border">|</td>
                    <td colspan="3"></td>
                    <td class="border">|</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>