<div class="footer-wrapper" *ngIf="errors.length > 0">
    <div class="footer">
        <table>
            <colgroup>
                <col span="1" class="border">
                <col span="1" style="width: auto;">
                <col span="1" class="border">
                <col span="1" style="width: 18px;">
                <col span="1" class="border">
            </colgroup>
            <tbody>
                <tr>
                    <th class="border">+</th>
                    <th #col class="border">{{ bcol }}</th>
                    <th class="border">+</th>
                    <th class="border">--</th>
                    <th class="border">+</th>
                </tr>
                <tr>
                    <th class="border">|</th>
                    <th class="text-grey"> WARNING </th>
                    <th class="border">|</th>
                    <th><a class="text-red-dull link-btn" (click)="clear($event)">x</a></th>
                    <th class="border">|</th>
                </tr>
                <tr>
                    <th class="border">+</th>
                    <th class="border">{{ bcol }}</th>
                    <th class="border">+</th>
                    <th class="border">--</th>
                    <th class="border">+</th>
                </tr>
            </tbody>
            <tbody>
                <tr *ngFor="let e of errors">
                    <td class="border">|<br>|<br>|<br>|<br>|<br>|</td>
                    <td class="break-word text-grey" colspan="3"><span class="text-red-dull">{{e.message}}. </span><span>{{e.details}}</span></td>
                    <td class="border">|<br>|<br>|<br>|<br>|<br>|</td>
                </tr>
            </tbody>
            <!-- <tbody>
                <tr class="">
                    <td class="border">|</td>
                    <td colspan="3"></td>
                    <td class="border">|</td>
                </tr>
            </tbody> -->
        </table>

    </div>
</div>