<table>
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: auto;">
    <col span="1" style="width: 9px;">
    <col span="1" style="width: 70px;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th class="border">|<br>|<br>|<br>|</th>
    <th class="border" style="text-align: left; display: flex;">
      <app-all-languages (selectedLanguageChange)="loadDefault({languageFromId:$event.id})"
                         [(selectedLanguage)]="languageFrom"
                         [label]="'From'"></app-all-languages>
      <app-all-languages (selectedLanguageChange)="loadDefault({languageToId:$event.id})"
                         [(selectedLanguage)]="languageTo"
                         [label]="'To'"></app-all-languages>
      <input (ngModelChange)="loadDefault({word:$event})" [(ngModel)]="wordSearch"
             style="height: 16px; margin-left: 8px; margin-top: 30px; margin-right: 0px;" type="text"/>
      <a (click)="filterWithoutForgotten()"
         [ngClass]="withoutForgotten?'text-green-dull':'text-grey-dull'" style="height: 16px; margin-left: 16px; margin-top: 34px;">[ <span
        [ngClass]="withoutForgotten?'text-green':'text-grey'">W</span>ithout Forgotten ]</a>
      <a (click)="filterOnlyUnevolved()"
         [ngClass]="onlyUnevolved?'text-green-dull':'text-grey-dull'" style="height: 16px; margin-left: 16px; margin-top: 34px;">[ <span
        [ngClass]="onlyUnevolved?'text-green':'text-grey'">O</span>nly Unevolved ]</a>
    </th>
    <th class="border">|<br>|<br>|<br>|</th>
    <th><a (click)="resetFilter()" class="text-red-dull">[ x ]</a></th>
    <th class="border">|<br>|<br>|<br>|</th>
  </tr>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border" colspan="3"></th>
    <th class="border">+</th>
  </tr>
  </tbody>
</table>
<table class="table-content">
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: 15%;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: max-content;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: max-content;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: auto;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: 65px;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody class="table-content">
  <tr *ngFor="let wordWithEvolution of words.data" class="table-content">
    <th class="border">|</th>
    <th [ngClass]="wordWithEvolution?.word?.forgotten?'text-grey-dull':'text-grey'" style="text-align: left;">
      {{wordWithEvolution.word?.partOfSpeech?.abbreviation}} <i>{{wordWithEvolution.word?.language?.displayName}}</i>
    </th>
    <th class="border">|</th>
    <th><a [ngClass]="wordWithEvolution?.word?.forgotten?'text-grey':'text-main'"
           [routerLink]="['/words/word', wordWithEvolution.word?.word]"
           class="link-btn">{{wordWithEvolution.word?.word}}</a>
    </th>
    <th class="border">|</th>
    <ng-container *ngIf="!wordWithEvolution?.word?.forgotten">
      <th>
        <span
          *ngIf="!!wordWithEvolution.calculatedEvolution && wordWithEvolution.calculatedEvolution === wordWithEvolution.wordEvolved?.word"
          class="text-green-dull">{{wordWithEvolution.calculatedEvolution}}</span>
        <span
          *ngIf="!!wordWithEvolution.wordEvolved?.word && wordWithEvolution.calculatedEvolution != wordWithEvolution.wordEvolved?.word"><span
          class="text-red-dull">{{wordWithEvolution.wordEvolved?.word}}</span> (<a
          (click)="evolveSingleWord(wordWithEvolution)"
          class="text-yellow-dull">{{wordWithEvolution.calculatedEvolution}}</a>)</span>
        <span *ngIf="!wordWithEvolution.wordEvolved?.word"><a (click)="evolveSingleWord(wordWithEvolution)"
                                                              class="text-yellow-dull">{{wordWithEvolution.calculatedEvolution}}</a></span>
      </th>
      <th class="border">|</th>
      <th class="border" style="text-align: left;">
        {{wordWithEvolution.wordEvolved?.partOfSpeech?.abbreviation}}
        <i>{{wordWithEvolution.languageConnection?.langTo?.displayName}}</i></th>
    </ng-container>
    <ng-container *ngIf="wordWithEvolution?.word?.forgotten">
      <th class="border" colspan="3"></th>
    </ng-container>
    <th class="border">|</th>
    <th class="border">
      <a (click)="forget(wordWithEvolution.word)" *ngIf="wordWithEvolution?.word?.forgotten" class="text-green-dull">unforget</a>
      <a (click)="forget(wordWithEvolution.word)" *ngIf="!wordWithEvolution?.word?.forgotten" class="text-yellow-dull">forget</a>
    </th>
    <th class="border">|</th>
  </tr>
  </tbody>
</table>
<app-list-paginator (load)="loadDefault($event)" [page]="words.page?words.page:0"
                    [size]="pageSize"
                    [totalPages]="words.totalPages?words.totalPages:0"
                    [total]="words.total?words.total:0"></app-list-paginator>
<table>
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: auto;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th class="border">|<br>|</th>
    <th class="border">
      <a class="text-green-dull" (click)="evolvePage()">[ Evolve Page ]</a>
      <a class="text-green-dull" style="margin-left: 16px;">[ Evolve All Words ]</a>
    </th>
    <th class="border">|<br>|</th>
  </tr>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border"></th>
    <th class="border">+</th>
  </tr>
  </tbody>
</table>
