<nav>
  <div class="nav text-grey-dull">
    <app-header-nav-link [key]="'ONE'" [name]="'Languages'" [route]="'language/description'"></app-header-nav-link>
    -
    <app-header-nav-link [key]="'TWO'" [name]="'Evolutions'" [route]="'evolutions/connections'"></app-header-nav-link>
    -
    <app-header-nav-link [key]="'THREE'" [name]="'Words'" [route]="'words/list'"></app-header-nav-link>
    -
    <app-header-nav-link [key]="'FOUR'" [name]="'Trace'" [route]="'trace'"></app-header-nav-link>
  </div>
  <div class="nav-login">
    <a href="#" class="link-btn">Login</a>
  </div>
</nav>
