<nav>
  <div class="nav text-grey-dull">
    <app-header-nav-link [name]="'[ Languages ]'" [route]="'language'"></app-header-nav-link>
    -
    <app-header-nav-link [name]="'[ Evolutions ]'" [route]="'evolutions/connections'"></app-header-nav-link>
    -
    <app-header-nav-link [name]="'[ Words ]'" [route]="'words/list'"></app-header-nav-link>
    -
    <app-header-nav-link [name]="'[ Trace ]'" [route]="'trace'"></app-header-nav-link>
  </div>
  <div class="nav-login">
    <a href="#" class="link-btn">[ Login ]</a>
  </div>
</nav>
