<nav>
    <div class="nav text-grey-dull">
        <app-header-nav-link [route]="'trace'" [name]="'Trace'" [key]="'ONE'"></app-header-nav-link>
        <app-header-nav-link [route]="'words/list'" [name]="'Words'" [key]="'TWO'"></app-header-nav-link>
        <app-header-nav-link [route]="'evolutions'" [name]="'Evolutions'" [key]="'THREE'"></app-header-nav-link>
        <app-header-nav-link [route]="'language/clusters'" [name]="'Languages'" [key]="'FOUR'"></app-header-nav-link>
        -
    </div>
</nav>