<table>
  <colgroup>
    <col span="1" style="width: auto;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 10%;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" class="border" style="width: 9px;">
    <col span="1" style="width: 45%;">
    <col span="1" class="border" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th colspan="37">VOWELS</th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th app-horizontal-dash colspan="35"></th>
    <th>+</th>
  </tr>
  <tr>
    <th style="text-align: right;"></th>
    <th>|</th>
    <th></th>
    <th colspan="10">Front		</th>
    <th>|</th>
    <th colspan="11">Central</th>
    <th>|</th>
    <th colspan="10">Back</th>
    <th></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th app-horizontal-dash colspan="11"></th>
    <th>+</th>
    <th app-horizontal-dash colspan="11"></th>
    <th>+</th>
    <th app-horizontal-dash colspan="11"></th>
    <th>+</th>
  </tr>
  <tr>
    <th>Close</th>
    <th>|</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'i'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'y'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="5" app-horizontal-dash></th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɨ'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ʉ'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="9" app-horizontal-dash></th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɯ'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'u'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="4"></th>
    <th>\</th>
    <th colspan="11"></th>
    <th>\</th>
    <th colspan="14"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Near-close</th>
    <th>|</th>
    <th colspan="5"></th>
    <th>\</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɪ'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ʏ'"></app-phonetic-btn></th>
    <th colspan="5"></th>
    <th>\</th>
    <th colspan="9"></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ʊ'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="6"></th>
    <th>\</th>
    <th colspan="11"></th>
    <th>\</th>
    <th colspan="12"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Close-mid</th>
    <th>|</th>
    <th colspan="5"></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'e'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ø'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="5" app-horizontal-dash></th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɘ'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɵ'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="5" app-horizontal-dash></th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɤ'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'o'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="8"></th>
    <th>\</th>
    <th colspan="10"></th>
    <th>\</th>
    <th colspan="11"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Mid</th>
    <th>|</th>
    <th colspan="7"></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'e̞'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ø̞'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="7"></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ə'"></app-phonetic-btn></th>
    <th colspan="7"></th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɤ̞'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'o̞'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="10"></th>
    <th>\</th>
    <th colspan="9"></th>
    <th>\</th>
    <th colspan="10"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Open-mid</th>
    <th>|</th>
    <th colspan="9"></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɛ'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'œ'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="3" app-horizontal-dash></th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɜ'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɞ'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="3" app-horizontal-dash></th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ʌ'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɔ'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="12"></th>
    <th>\</th>
    <th colspan="8"></th>
    <th>\</th>
    <th colspan="9"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Near-open</th>
    <th>|</th>
    <th colspan="11"></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'æ'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th colspan="8"></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɐ'"></app-phonetic-btn></th>
    <th colspan="8"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="14"></th>
    <th>\</th>
    <th colspan="7"></th>
    <th>\</th>
    <th colspan="8"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Open</th>
    <th>|</th>
    <th colspan="13"></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'a'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɶ'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="1" app-horizontal-dash></th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ä'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th colspan="3" app-horizontal-dash></th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɑ'"></app-phonetic-btn></th>
    <th></th>
    <th>*</th>
    <th></th>
    <th><app-phonetic-btn (onClick)="clicked($event)" [getSoundClass]="getClass" [phonetic]="'ɒ'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th app-horizontal-dash colspan="35"></th>
    <th>+</th>
  </tr>
  </tbody>
</table>


