<table>
  <colgroup>
    <col span="1" style="width: auto;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 5%;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" class="border" style="width: 25px;">
    <col span="1" style="width: 15%;">
    <col span="1" class="border" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th colspan="37">VOWELS</th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th app-horizontal-dash colspan="35"></th>
    <th>+</th>
  </tr>
  <tr>
    <th style="text-align: right;"></th>
    <th>|</th>
    <th></th>
    <th colspan="5">Front</th>
    <th colspan="3"></th>
    <th>|</th>
    <th colspan="12">Central</th>
    <th colspan="1"></th>
    <th>|</th>
    <th colspan="5"></th>
    <th colspan="5">Back</th>
    <th></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th app-horizontal-dash colspan="9"></th>
    <th>+</th>
    <th app-horizontal-dash colspan="13"></th>
    <th>+</th>
    <th app-horizontal-dash colspan="11"></th>
    <th>+</th>
  </tr>
  <tr>
    <th>Close</th>
    <th>|</th>
    <th></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'i'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'y'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="5" app-horizontal-dash></th>
    <th></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɨ'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʉ'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="9" app-horizontal-dash></th>
    <th></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɯ'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'u'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="4"></th>
    <th>\</th>
    <th colspan="11"></th>
    <th>\</th>
    <th colspan="14"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Near-close</th>
    <th>|</th>
    <th colspan="5"></th>
    <th>\</th>
    <th></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɪ'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʏ'"></app-phonetic-btn></th>
    <th colspan="5"></th>
    <th>\</th>
    <th colspan="9"></th>
    <th colspan="3">* <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʊ'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="6"></th>
    <th>\</th>
    <th colspan="11"></th>
    <th>\</th>
    <th colspan="12"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Close-mid</th>
    <th>|</th>
    <th colspan="5"></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'e'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ø'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="5" app-horizontal-dash></th>
    <th></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɘ'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɵ'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="5" app-horizontal-dash></th>
    <th></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɤ'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'o'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="8"></th>
    <th>\</th>
    <th colspan="10"></th>
    <th>\</th>
    <th colspan="11"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Mid</th>
    <th>|</th>
    <th colspan="7"></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'e̞'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ø̞'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="7"></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ə'"></app-phonetic-btn></th>
    <th colspan="7"></th>
    <th></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɤ̞'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'o̞'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="10"></th>
    <th>\</th>
    <th colspan="9"></th>
    <th>\</th>
    <th colspan="10"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Open-mid</th>
    <th>|</th>
    <th colspan="9"></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɛ'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'œ'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="3" app-horizontal-dash></th>
    <th></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɜ'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɞ'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="3" app-horizontal-dash></th>
    <th></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʌ'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɔ'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="12"></th>
    <th>\</th>
    <th colspan="8"></th>
    <th>\</th>
    <th colspan="9"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Near-open</th>
    <th>|</th>
    <th colspan="11"></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'æ'"></app-phonetic-btn> *</th>
    <th colspan="8"></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɐ'"></app-phonetic-btn></th>
    <th colspan="8"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="14"></th>
    <th>\</th>
    <th colspan="7"></th>
    <th>\</th>
    <th colspan="8"></th>
    <th>|</th>
    <th colspan="3"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Open</th>
    <th>|</th>
    <th colspan="13"></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'a'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɶ'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="1" app-horizontal-dash></th>
    <th></th>
    <th colspan="4"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ä'"></app-phonetic-btn> * </th>
    <th colspan="3" app-horizontal-dash></th>
    <th></th>
    <th colspan="5"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɑ'"></app-phonetic-btn> * <app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɒ'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th app-horizontal-dash colspan="35"></th>
    <th>+</th>
  </tr>
  </tbody>
</table>


