<table>
  <colgroup>
    <col class="border" span="1" style="width: 21%; white-space: nowrap;">
    <col class="border" span="1" style="width: 8px;">
    <col class="border" span="1" style="width: 17px; white-space: nowrap;">
    <col span="1" style="width: 21%;">
    <col class="border" span="1" style="width: 8px;">
    <col class="border" span="1" style="width: 17px; white-space: nowrap;">
    <col class="border" span="1" style="width: 58%;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr *ngFor="let i of array">
    <ng-container *ngIf="pos[i]">
      <th [ngClass]="selectedPos?.id === pos[i]?.id?'selectedTh':''" style="white-space: nowrap;">
        <a (click)="changePos(pos[i])"
           [ngClass]="selectedPos?.id === pos[i]?.id?'text-main':'text-grey'">{{pos[i]?.name}}</a>
      </th>
      <th style="white-space: nowrap;">
        {{selectedPos?.id === pos[i]?.id ? '' : (i===categories.length? '+' : '|')}}
      </th>
    </ng-container>
    <ng-container *ngIf="!pos[i]">
      <ng-container *ngIf="pos.length === i && i+1 !== arraySize">
        <th app-horizontal-dash></th>
        <th>+</th>
      </ng-container>
      <ng-container *ngIf="pos.length != i || i+1 === arraySize">
        <th></th>
        <th class="border">|</th>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="categories[i]">
      <th *ngIf="isCategoryWithPos(categories[i])" class="border">
        <a (click)="connectCategory(categories[i])" *ngIf="!isCategoryConnected(categories[i])"
           class="link-btn text-grey-dull">x</a>
        <a (click)="disconnectCategory(categories[i])" *ngIf="isCategoryConnected(categories[i])"
           class="link-btn text-green-dull">o</a>
      </th>
      <th *ngIf="!isCategoryWithPos(categories[i])" class="border"></th>
      <th [ngClass]="isCategoryWithPos(categories[i])?'text-white':'text-grey'">
        {{categories[i]?.name}}
      </th>
      <th class="border">|</th>
    </ng-container>
    <ng-container *ngIf="!categories[i]">
      <ng-container *ngIf="categories.length === i && i+1 !== arraySize">
        <th app-horizontal-dash colspan="2"></th>
        <th>+</th>
      </ng-container>
      <ng-container *ngIf="categories.length != i || i+1 === arraySize">
        <th colspan="2"></th>
        <th class="border">|</th>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="matrix[i]">
      <th>x</th>
      <th>{{matrix[i]}}</th>
      <th>|</th>
    </ng-container>
    <ng-container *ngIf="!matrix[i]">
      <ng-container *ngIf="matrix.length === i && i+1 !== arraySize">
        <th app-horizontal-dash colspan="2"></th>
        <th>|</th>
      </ng-container>
      <ng-container *ngIf="matrix.length != i || i+1 === arraySize">
        <th colspan="2"></th>
        <th class="border">|</th>
      </ng-container>
    </ng-container>
  </tr>
  </tbody>
</table>
<app-language-declension-rules></app-language-declension-rules>
