<span class="left text-grey-dull">
  <a class="text-grey link-btn" href="https://github.com/owlbeardm/language-parser-ui">[ GITHUB ]</a> -
  <a class="text-grey link-btn" href="https://twitter.com/OwlbearDm">[ TWITTER ]</a> -
  <a class="text-grey link-btn" href="mailto:owlbeardm@gmail.com?subject=Kedom Language: ">[ EMAIL ]</a> -
  <a class="text-grey link-btn" href="https://c7d5a6.com/"> [ CONTACTS ]</a>
</span>
<span class="right text-grey-dull">
        <span class="copyright float-md-right">
            <span>{{year}} © Mikita Kukavenka, <span>
            <span class="col-md pl-0"><a class="text-grey link-btn" href="https://owlbeardm.com/" rel="noreferrer"
                                         target="_blank">OwlbearDM</a><span *ngIf="version">, {{version}}<span><span
              *ngIf="version && apiVersion">-</span><span *ngIf="apiVersion">{{apiVersion}}<span></span>
        </span>
      </span>
