<table>
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: auto;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th class="border">|</th>
    <th class="border">
      <div>
      </div>
    </th>
    <th class="border">|</th>
  </tr>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border"></th>
    <th class="border">+</th>
  </tr>
  </tbody>
</table>
<table class="table-content">
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: 20%;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: 40px;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: auto;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: 64px;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: 17px;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody class="table-content">
  <tr *ngFor="let word of words.data" class="table-content">
    <th class="border">|</th>
    <th class="text-main">{{word.word}}</th>
    <th class="border">|</th>
    <th class="border">{{word.partOfSpeech?.abbreviation}}</th>
    <th class="border">|</th>
    <th class="border">{{word.language?.displayName}}</th>
    <th class="border">|</th>
    <th class="border">{{word.forgotten ? "unforget" : "forget"}}</th>
    <th class="border">|</th>
    <th class="border"><a (click)="deleteWord(word)" class="text-red-dull">x</a></th>
    <th class="border">|</th>
  </tr>
  </tbody>
</table>
<table>
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: 240px;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: 17px;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: 17px;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: auto;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: 17px;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: 17px;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border" colspan="11"></th>
    <th class="border">+</th>
  </tr>
  <tr>
    <th class="border">|</th>
    <th class="border">
      Page {{page + 1}} of {{words.totalPages}} ({{words.total}} words)
    </th>
    <th class="border">|</th>
    <th class="border"><a (click)="changePage(0)"> « </a></th>
    <th class="border">|</th>
    <th class="border"><a (click)="changePage(page-1)"> < </a></th>
    <th class="border">|</th>
    <th class="border">
      <span *ngFor="let pn of pageBttns; let i = index">
        <a *ngIf="pn != page" class="text-grey-dull" (click)="changePage(pn)"> {{pn + 1}}</a>
        <span *ngIf="pn == page" class="text-main"> {{pn + 1}}</span>
        <span *ngIf="i<pageBttns.length-1 && pn+1 == pageBttns[i+1]">,</span>
        <span *ngIf="pn+1 != pageBttns[i+1] && i<pageBttns.length-1"> ... </span>
      </span>
    </th>
    <th class="border">|</th>
    <th class="border"><a (click)="changePage(page+1)"> > </a></th>
    <th class="border">|</th>
    <th class="border"><a (click)="changePage(words.totalPages)"> » </a></th>
    <th class="border">|</th>
  </tr>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border" colspan="11"></th>
    <th class="border">+</th>
  </tr>
  </tbody>
</table>
<app-word-add-line></app-word-add-line>
