<h1>Trace a word!</h1>

<!-- <app-hr class="text-grey"></app-hr> -->

<form [formGroup]="checkoutForm" (ngSubmit)="submit(checkoutForm.value)">
    <div>
        <label for="langs">
            Langs
        </label>
        <input id="langs" type="text" formControlName="langs">
    </div>

    <div>
        <label for="wordText">
            Word&nbsp;
        </label>
        <input #wordInput id="wordText" type="text" formControlName="wordText">
    </div>
    <br />
    <app-language-select id="wordText" type="text" [fieldName]="'lang'" [parentForm]="checkoutForm"></app-language-select>
    <button class="button" type="submit" hidden>Submit</button>
</form>

<h2>Evolved Words</h2>

<div>
    <ol>
        <li *ngFor="let wl of words">
            <span>{{ wl.word }}</span> <span class="text-grey"> ({{ wl.lang }})</span>
        </li>
    </ol>
</div>


<div class="table-container">
    <table>
        <colgroup>
            <col span="1" class="border">
            <!-- <col span="1" style="width: max-content;"> -->
            <col span="1" style="width: 50%;">
            <col span="1" class="border">
            <col span="1" style="width: 50%;">
            <col span="1" class="border">
        </colgroup>
        <thead>
            <tr>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
            </tr>
            <tr>
                <td app-vertical-dash class="border"></td>
                <th class="text-grey">Queran</th>
                <td app-vertical-dash class="border"></td>
                <th class="text-grey">Nitholan</th>
                <td app-vertical-dash class="border"></td>
            </tr>
            <tr>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td app-vertical-dash class="border"></td>
                <th><a class="link-btn" (click)="titanToQueran()">Titan -> Queran</a></th>
                <td app-vertical-dash class="border"></td>
                <th><a class="link-btn" (click)="titanToNitholan()">Titan -> Nitholan</a></th>
                <td app-vertical-dash class="border"></td>
            </tr>
            <tr>
                <td app-vertical-dash class="border"></td>
                <th></th>
                <td app-vertical-dash class="border"></td>
                <th><a class="link-btn" (click)="queranToNitholan()">Queran -> Nitholan</a></th>
                <td app-vertical-dash class="border"></td>
            </tr>
            <tr>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
            </tr>
        </tbody>
    </table>
</div>