<table>
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: auto;">
    <col class="border" span="1" style="width: max-content;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th class="border">|<br>|<br>|<br>|</th>
    <th style="text-align: left; display: flex">
      <span><app-all-languages [label]="'From'" (selectedLanguageChange)="languageChanged()" [(selectedLanguage)]="languageFrom"></app-all-languages></span>
      <span><app-all-languages [label]="'To'" (selectedLanguageChange)="languageChanged()"  [(selectedLanguage)]="languageTo"></app-all-languages></span>
    </th>
    <th class="border"></th>
    <th class="border">|<br>|<br>|<br>|</th>
  </tr>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border"></th>
    <th *ngIf="!editMode" class="border">[ <a class="text-yellow-dull" (click)="editSoundChanges()"><b>E</b>dit</a> ]-</th>
    <th *ngIf="editMode" class="border">[ <a class="text-green-dull" (click)="saveSoundChanges()"><b>S</b>ave</a> ]-</th>
    <th class="border">+</th>
  </tr>
  </tbody>
</table>
<app-sound-changes-table *ngIf="!editMode" [soundChanges]="soundChanges"></app-sound-changes-table>
<app-sound-changes-edit *ngIf="editMode" [(soundChangesRaw)]="soundChangesRaw" (soundChangesRawChange)="soundChangesRawChange()"></app-sound-changes-edit>
