<table>
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: auto;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th app-vertical-dash class="border"></th>
    <th style="text-align: left">
      <textarea [rows]="math.min(30,110)" [(ngModel)]="soundChangesRaw" (ngModelChange)="soundChangesRawChangeFn()"></textarea>
    </th>
    <th app-vertical-dash class="border">|</th>
  </tr>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border"></th>
    <th class="border">+</th>
  </tr>
  </tbody>
</table>
