<div class="row">
  <div *ngFor="let langs of availableLanguagesTo; index as i" class="selector">
    <div *ngIf="langs.length">
      <div *ngFor="let lnr of languagesRoutes[i]">
        <span *ngFor="let ln of lnr; index as j"><span *ngIf="j != 0"> -> {{ln.displayName}}</span></span>
      </div>
      <span>
        <label *ngIf="!languages[i] || i == 0" class="languageSelectorLabel"
               for="languageSelector">{{
          (i == 0)
            ? (languages[0]) ? languages[0].displayName : 'Language from:'
            : 'Language:'
          }}</label>
        <div class="input-group">
          <select (ngModelChange)="changeLanguage(i,$event)" [(ngModel)]="languages[i]"
                  class="languageSelector" id="languageSelector" name="languageSelector">
            <option [ngValue]="undefined" disabled>-Select Language-</option>
            <option *ngFor="let lang of langs" [ngValue]="lang">{{ lang.displayName }}</option>
          </select>
        </div>
      </span>

    </div>
  </div>
</div>
