<div class="tab-routes-wrapper">
  <div class="tab-routes">
    <table>
      <colgroup>
        <col *ngIf="!removeBorder" class="border" span="1">
        <ng-container *ngFor="let tab of tabs; let i = index">
          <col [attr.style]="'width: ' +
          ((i==selectedIndex)?((tab.name.length+4)*8+1):(4+4)*8+1) + 'px;'" span="1">
          <col class="border" span="1">
        </ng-container>
        <col span="1" style="width: max-content;">
        <col class="border" span="1">
      </colgroup>
      <tbody>
      <tr>
        <th *ngIf="!removeBorder" class="border">{{0 == selectedIndex ? '+' : ''}}</th>
        <ng-container *ngFor="let tab of tabs; let i = index">
          <th [symbol]="i==selectedIndex?'-':'_'" app-horizontal-dash class="border"></th>
          <th class="border">{{i == selectedIndex || i + 1 == selectedIndex ? '+' : ''}}</th>
        </ng-container>
        <th class="border"></th>
        <th class="border"></th>
      </tr>
      <tr>
        <th *ngIf="!removeBorder" class="border">|</th>
        <ng-container *ngFor="let tab of tabs; let i = index">
          <th><a (click)="select(i)" [attr.disabled]="tab.enabled? true : null"
                 [ngClass]="i==selectedIndex?'':'text-grey-dull'"
                 class="link-btn">{{i == selectedIndex ? tab.name : (tab.shortName ? tab.shortName : tab.name.substr(0, 3) + '.')}}</a>
          </th>
          <th class="border">|</th>
        </ng-container>
        <th class="border"></th>
        <th class="border"></th>
      </tr>
      <tr>
        <th *ngIf="0<selectedIndex" [attr.colspan]="selectedIndex*2-((selectedIndex>0&&removeBorder)?1:0)"
            app-horizontal-dash
            class="border"></th>
        <th *ngIf="!removeBorder || selectedIndex!=0" class="border">+</th>
        <th class="border"></th>
        <th class="border">+</th>
        <th [attr.colspan]="(tabs.length-selectedIndex-1)*2+1" app-horizontal-dash class="border"></th>
        <th class="border">+</th>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td [attr.colspan]="(tabs.length+1)*2+(!removeBorder?1:0)" class="break-word text-grey">
          <app-language-description *ngIf="selectedIndex == 0"
                                    [selectedLanguage]="selectedLanguage"></app-language-description>
          <app-language-phonetics *ngIf="selectedIndex == 1" [selectedLanguage]="selectedLanguage"></app-language-phonetics>
          <app-language-pos *ngIf="selectedIndex == 2" [selectedLanguage]="selectedLanguage"></app-language-pos>
          <app-laws *ngIf="selectedIndex == 3"></app-laws>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
