<table>
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: auto;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th class="border">|<br>|<br>|<br>|</th>
    <th class="border" style="text-align: left; display: flex;">
      <app-all-languages (selectedLanguageChange)="changeLanguage({langId:$event?.id})"
                         [(selectedLanguage)]="language"
                         [label]="'Language'"></app-all-languages>
      <div class="selector">
        <label class="languageSelectorLabel" for="newWordTypeSelector">Type</label>
        <div class="input-group" style="margin-top: 4px;">
          <select (ngModelChange)="typeChanged({type:$event})" [(ngModel)]="type" class="posSelector"
                  id="newWordTypeSelector">
            <option *ngFor="let tp of typeKeys" [selected]="tp === type" [value]="tp">{{tp}}</option>
          </select>
        </div>
      </div>
      <app-all-languages *ngIf="type === 'Borrowing'" (selectedLanguageChange)="changeLanguageFrom({languageFromId:$event?.id})"
                         [(selectedLanguage)]="languageTo"
                         [label]="'From'"></app-all-languages>
    </th>
    <th class="border">|<br>|<br>|<br>|</th>
  </tr>
  <tr>
    <th class="border">|<br>|<br>|<br>|</th>
    <th class="border" style="text-align: left; display: flex;">
      <div class="selector">
        <label class="languageSelectorLabel" for="newWordTypeSelector">Word</label>
        <div class="input-group" style="margin-top: 4px;">
          <input style="height: 16px; margin-left: 0px;" type="text"/>
        </div>
      </div>
      <div class="selector">
        <label class="languageSelectorLabel" for="newWordTypeSelector">Category</label>
        <div class="input-group" style="margin-top: 4px;">
          <select [value]="undefined" class="posSelector" id="posSelector">
            <!--          <option [ngValue]="undefined" class="text-grey-dull" disabled>Part of Speech</option>-->
            <option *ngFor="let pos of poses" [ngValue]="pos">{{ pos.name }}</option>
          </select>
        </div>
      </div>
      <div class="selector">
        <label class="languageSelectorLabel" for="newWordTypeSelector" style="height: 16px; margin-left: 8px;">Comment</label>
        <div class="input-group" style="margin-top: 4px;">
          <input style="height: 16px; margin-left: 8px;" type="text"/>
        </div>
      </div>
    </th>
    <th class="border">|<br>|<br>|<br>|</th>
  </tr>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border"></th>
    <th class="border">+</th>
  </tr>
  </tbody>
</table>
