<table>
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: auto;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th class="border">|<br>|<br>|<br>|</th>
    <th class="border" style="text-align: left; display: flex;">
      <app-all-languages (selectedLanguageChange)="changeLanguage({langId:$event.id})"
                         [(selectedLanguage)]="language"
                         [label]="'Language'"></app-all-languages>
      <div class="selector">
        <label class="languageSelectorLabel" for="newWordTypeSelector">Type</label>
        <div class="input-group" style="margin-top: 4px;">
          <select (ngModelChange)="typeChanged({type:$event})" [(ngModel)]="type" class="posSelector"
                  id="newWordTypeSelector">
            <option *ngFor="let tp of typeKeys" [selected]="tp === type" [value]="tp">{{tp}}</option>
          </select>
        </div>
      </div>
      <div class="selector" *ngIf="type === 'Borrowed' || type === 'Evolved'">
        <label class="languageSelectorLabel" for="newWordTypeSelector">From</label>
        <div class="input-group" style="margin-top: 4px;">
          <select (ngModelChange)="langToChanged({lang:$event})" [(ngModel)]="languageTo" class="langToSelector"
                  id="langToSelector">
            <option *ngFor="let lang of languagesTo" [value]="lang">{{lang.displayName}}</option>
          </select>
        </div>
      </div>
    </th>
    <th class="border">|<br>|<br>|<br>|</th>
  </tr>
  </tbody>
  <tbody *ngIf="language !== undefined && type === 'New'" [language]="language" [poses]="poses" app-new></tbody>
  <tbody *ngIf="language !== undefined && type === 'Derived'" [language]="language" [poses]="poses" app-derived></tbody>
  <tbody>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border"></th>
    <th class="border">+</th>
  </tr>
  </tbody>
</table>
