<!-- <app-trace></app-trace> -->
<nav>
    <div class="nav">
        - <span><a routerLink="/">Main</a></span>
        - <span><a routerLink="/trace">Trace</a></span>
        - <span><a routerLink="/words">Words</a></span>
        -
    </div>
</nav>

<router-outlet></router-outlet>

<table>
    <tbody>
        <tr>
            <td><a routerLink="/words/uperi">uperi</a></td>
            <td>drown<br>blue</td>
        </tr>
        <tr>
            <td>welw</td>
            <td>wild<br>forest</td>
        </tr>
        <tr>
            <td><a routerLink="/words/uperi">uperi</a></td>
            <td>drown<br>blue</td>
        </tr>
    </tbody>
</table>