<table>
  <colgroup>
    <col class="border" span="1" style="width: 17px;">
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: calc(30% - 41px);">
    <col class="border" span="1" style="width: 8px;">
    <col class="border" span="1" style="width: 70%;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr *ngFor="let p of pos; index as i">
    <th [ngClass]="selectedPos?.id === p.id?'selectedTh':''"><a
      (click)="connectPosToLanguage(p)"
      [ngClass]="getLanguagePos(p)?.connectedToLanguage?(getLanguagePos(p)?.usedInLanguage?'text-green-dull':'text-yellow-dull'):(getLanguagePos(p)?.usedInLanguage?'text-red-dull':'text-grey-dull')">{{getLanguagePos(p)?.connectedToLanguage ? 'o' : 'x'}}</a>
    </th>
    <th class="border">|</th>
    <th [ngClass]="selectedPos?.id === p.id?'selectedTh':''" class="border"><a (click)="selectedPos = p"
                                                                               [ngClass]="selectedPos?.id === p.id ? 'text-main' : getLanguagePosSymbol(p) ? 'text-grey' : 'text-grey-dull'">{{p.name}}</a>
    </th>
    <th [ngClass]="selectedPos?.id === p.id?'selectedTh':''" class="border">{{selectedPos?.id === p.id ? '' : '|'}}</th>
    <th *ngIf="i==0" class="border" rowspan="0" style="vertical-align: top;">
      <app-pos-details [selectedLanguage]="selectedLanguage" [selectedPos]="selectedPos"></app-pos-details>
    </th>
    <th *ngIf="i==0" app-vertical-dash class="border" rowspan="0"></th>
  </tr>
  <tr>
    <th app-horizontal-dash colspan="3"></th>
    <th class="border">+</th>
  </tr>
  <tr>
    <th colspan="2"></th>
    <th><a (click)="addNewPOS()" class="text-green-dull">[ + ]</a></th>
    <th class="border">|</th>
  </tr>
  <tr>
    <th app-horizontal-dash colspan="5"></th>
  </tr>
  </tbody>
</table>
