<div class="table-container">
  <table>
    <colgroup>
      <col class="border" span="1">
      <col span="1" style="width: auto;">
      <col class="border" span="1">
    </colgroup>
    <tbody>
    <tr>
      <th class="border">+</th>
      <th app-horizontal-dash class="border"></th>
      <th class="border">+</th>
    </tr>
    <tr>
      <th class="border">|<br>|<br>|<br>|<br>|<br>|</th>
      <th class="border">
        <div>
          <app-trace-language-recursive (routeChanged)="routeChanged($event)"></app-trace-language-recursive>
          <div class="full-route"><span *ngFor="let route of fullRoute; let i = index" class="text-yellow-dull"><span
            *ngIf="i > 0"> -> </span><span>{{route.displayName}}</span></span>
            <span *ngIf="!fullRoute.length"> No Route </span></div>
        </div>
      </th>
      <th class="border">|<br>|<br>|<br>|<br>|<br>|</th>
    </tr>
    <tr>
      <th class="border">+</th>
      <th app-horizontal-dash class="border"></th>
      <th class="border">+</th>
    </tr>
    </tbody>
  </table>
</div>

<app-trace-result [fullRoute]="fullRoute"></app-trace-result>
