<!-- <h1>Trace a word!</h1> -->


<!--<form (ngSubmit)="submit(languageSelector.value)" [formGroup]="languageSelector">-->

    <app-trace-language-recursive></app-trace-language-recursive>

  <!--    <div>-->
  <!--        <label for="langs">-->
  <!--            Langs-->
  <!--        </label>-->
  <!--        <app-language-select [(selectedLanguage)]="selectedLanguage" (selectedLanguageChange)="changeLang()" id="langs" type="text" formControlName="langs">-->
  <!--        </app-language-select>-->
  <!--    </div>-->

  <!--    <div>-->
  <!--        <label for="wordText">-->
  <!--            Word&nbsp;-->
  <!--        </label>-->
  <!--        <input #wordInput id="wordText" type="text" formControlName="wordText">-->
  <!--    </div>-->
  <!--    <br />-->
  <!--    <button class="button" type="submit" hidden>Submit</button>-->
<!--</form>-->
