<!-- <h1>Trace a word!</h1> -->


<form (ngSubmit)="submit(checkoutForm.value)" [formGroup]="checkoutForm">
  <div class="row">
    <div>
      <app-all-languages [label]="'Language from:'"></app-all-languages>
    </div>
    <app-trace-language-recursive></app-trace-language-recursive>

  </div>

  <!--    <div>-->
  <!--        <label for="langs">-->
  <!--            Langs-->
  <!--        </label>-->
  <!--        <app-language-select [(selectedLanguage)]="selectedLanguage" (selectedLanguageChange)="changeLang()" id="langs" type="text" formControlName="langs">-->
  <!--        </app-language-select>-->
  <!--    </div>-->

  <!--    <div>-->
  <!--        <label for="wordText">-->
  <!--            Word&nbsp;-->
  <!--        </label>-->
  <!--        <input #wordInput id="wordText" type="text" formControlName="wordText">-->
  <!--    </div>-->
  <!--    <br />-->
  <!--    <button class="button" type="submit" hidden>Submit</button>-->
</form>
