<tr>
  <th class="border">+</th>
  <th app-horizontal-dash class="border" colspan="4"></th>
  <th class="border">+</th>
</tr>
<tr>
  <th class="border">|</th>
  <th colspan="3" style="padding-left: 8px; padding-right: 8px; white-space: nowrap; text-align: left"><span
    style="white-space: nowrap;"><a [fragment]="word.language?.displayName" [routerLink]="['/words/word', word.word]"
                                    class="text-main link-btn"
                                    style="text-transform: capitalize;">{{word.writtenWord}} <span
    class="text-grey">/{{word.word}}/</span></a></span>
    {{word.comment}}
    <span class="text-grey-dull"> {{word.partOfSpeech?.abbreviation}} {{word.language?.displayName}}</span>
  </th>
  <th class="border"><a (click)="startAddTranslation()" *ngIf="!editMode" class="text-grey-dull">[Edit]</a>
    <a (click)="cancelTranslation()" *ngIf="editMode" class="text-grey-dull">[Cancel]</a></th>
  <th class="border">|</th>
</tr>
<ng-container *ngFor="let lang of getTranslationLangs()">
  <tr *ngFor="let type of getTranslationTypes(true, lang)">
    <th class="border">|</th>
    <th [rowSpan]="getLanguageRowspans(lang)" class="border"
        style="padding-left: 4px; padding-right: 8px; text-align: left"><span
      style="white-space: nowrap;">{{lang}}</span></th>
    <th class="border" style="padding-left: 4px; padding-right: 8px; text-align: left"><span
      style="white-space: nowrap;">{{type | translationType}}</span></th>
    <th style="padding-left: 8px; padding-right: 8px; white-space: nowrap; text-align: left"><span
      *ngFor="let translation of getTranslationForWordAndType(type,true, lang); let i = index">{{i == 0 ? '' : '; '}}
      <app-translation-word [translation]="translation"></app-translation-word> <span *ngIf="editMode">[<a
        (click)="deleteTranslation(translation)" class="text-red-dull">x</a>]</span></span></th>
    <th class="border"></th>
    <th class="border">|</th>
  </tr>
  <tr *ngFor="let type of getTranslationTypes(false, lang)">
    <th class="border">|</th>
    <th class="border" style="padding-left: 4px; padding-right: 8px; text-align: left"><span
      style="white-space: nowrap;">{{type | translationType}}</span></th>
    <th style="padding-left: 8px; padding-right: 8px; white-space: nowrap; text-align: left"><span
      *ngFor="let translation of getTranslationForWordAndType(type,false, lang); let i = index">{{i == 0 ? '' : '; '}}
      <span
        class="text-blue-dull link-btn"><app-translation-word [translation]="translation"></app-translation-word> <span
        *ngIf="editMode">[<a
        (click)="deleteTranslation(translation)" class="text-red-dull">x</a>]</span></span></span></th>
    <th class="border"></th>
    <th class="border">|</th>
  </tr>
</ng-container>
<tr *ngIf="editMode">
  <th app-vertical-dash class="border"></th>
  <th colspan="3">
    <div style="text-align: left; display: flex;">
      <app-all-languages (selectedLanguageChange)="changeLanguage($event)"
                         [(selectedLanguage)]="language"
                         [label]="'To'"></app-all-languages>
      <input (ngModelChange)="changedWordTranslation($event)" [(ngModel)]="wordTranslation"
             style="height: 16px; margin-left: 8px; margin-top: 30px; margin-right: 0px;" type="text"/>
      <span style="margin-left: 8px; text-align: end">
              <select (ngModelChange)="changePos($event)" [(ngModel)]="pos" class="posSelector" id="posSelector"
                      style="margin-top: 28px;">
                <option [ngValue]="undefined" class="text-grey-dull" disabled>--- Part of Speech ---</option>
                <option *ngFor="let p of poses" [ngValue]="p">{{ p.name }}</option>
              </select>
      </span>
      <!--      <input (ngModelChange)="changedWordTranslation($event)" [(ngModel)]="wordTranslation"-->
      <!--             style="height: 16px; margin-left: 8px; margin-top: 30px; margin-right: 0px;" type="text"/>-->
      <a (click)="addAsPhrase = !addAsPhrase" [ngClass]="addAsPhrase?'text-blue-dull':'text-grey-dull'"
         style="margin-left: 16px; vertical-align: text-bottom; margin-top: 32px;">[ Phrase ]</a>
    </div>
  </th>
  <th class="border" style="padding-top: 22px;"><a (click)="addNewTranslation()" class="text-green-dull"
                                                   style="vertical-align: text-bottom;">[Add New]</a></th>
  <th app-vertical-dash class="border"></th>
</tr>
<ng-container *ngIf="editMode">
  <tr *ngFor="let tr of wordsForTranslation.data">
    <th class="border">|</th>
    <th><a (click)="addTranslationWord(tr)" class="text-green-dull link-btn">[+]</a></th>
    <th colspan="3" style="padding-left: 8px; padding-right: 8px; white-space: nowrap; text-align: left">
      <a [fragment]="tr.language?.displayName" [routerLink]="['/words/word', tr.word]"
         class="text-blue-dull link-btn">{{tr.writtenWord}}</a> / {{tr.word}}
      / {{tr.partOfSpeech?.abbreviation}} {{tr.language?.displayName}}
    </th>
    <th class="border">|</th>
  </tr>
</ng-container>
