<div *ngIf="parentForm" [formGroup]="parentForm" style="display: inline;">
    <select id="langgg" [(ngModel)]="selectedLanguage" (change)="changeLanguage()" name="langgg" [formControlName]="'langgg'">
        <option [value]="undefined" disabled> --- Select Language --- </option>
        <option [value]="undefined"> --- All languages --- </option>
        <option *ngFor="let l of languagesSelect" [value]="l">{{ l.toString() }}</option>
    </select>
</div>
<div *ngIf="!parentForm" style="display: inline;">
    <select id="langgg" [(ngModel)]="selectedLanguage" (change)="changeLanguage()" name="langgg">
        <option *ngIf="!selectAll" [value]="undefined" disabled> --- Select Language --- </option>
        <option *ngIf="selectAll" [value]="undefined"> --- All languages --- </option>
        <option *ngFor="let l of languagesSelect" [value]="l">{{ l.toString() }}</option>
    </select>
</div>