<table>
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: 70px;">
    <col span="1" style="width: 9px;">
    <col span="1" style="width: auto;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th class="border">|<br>|</th>
    <th class="border">
      <a *ngIf="newWord.valid" class="text-green-dull" (click)="addNewWord()">[ + ]</a>
      <span *ngIf="!newWord.valid">[ + ]</span>
    </th>
    <th class="border">|<br>|</th>
    <th class="border" style="text-align: left;">
      <form (ngSubmit)="addNewWord()" [formGroup]="newWord">
        <input formControlName="sound" style="height: 16px; margin-left: 16px;" type="text"/>
        <span style="margin-left: 8px;">
        <select (change)="changeLanguage()" [value]="undefined" class="languageSelector" formControlName="language"
                id="languageSelector">
<!--          <option [ngValue]="undefined" class="text-grey-dull" disabled>Language</option>-->
                    <option *ngFor="let lang of languages" [ngValue]="lang">{{ lang.displayName }}</option>
        </select>
      </span>
        <span style="margin-left: 8px;">
        <select [value]="undefined" class="posSelector" formControlName="pos" id="posSelector">
<!--          <option [ngValue]="undefined" class="text-grey-dull" disabled>Part of Speech</option>-->
                    <option *ngFor="let pos of poses" [ngValue]="pos">{{ pos.name }}</option>
        </select>
      </span>
<!--        <span style="margin-left: 16px;">-->
<!--          <a [ngClass]="newWord.valid?'text-green-dull':'text-grey-dull'" (click)="addNewWord()">[ + ]</a>-->
<!--        </span>-->
      </form>
    </th>
    <th class="border">|<br>|</th>
  </tr>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border" colspan="3"></th>
    <th class="border">+</th>
  </tr>
  </tbody>
</table>
