<table>
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: auto;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th class="border">|<br>|</th>
    <th class="border" style="text-align: left; display: flex;">Add word | <input style="height: 16px;"> <span><app-all-languages></app-all-languages></span></th>
    <th class="border">|<br>|</th>
  </tr>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border"></th>
    <th class="border">+</th>
  </tr>
  </tbody>
</table>
