<table>
  <colgroup>
    <col span="1" style="width: auto;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" class="border" style="width: 8px;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" style="width: 3.16766212%;">
    <col span="1" class="border" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th colspan="37">PLUMONIC CONSONANTS</th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th app-horizontal-dash colspan="35"></th>
    <th>+</th>
  </tr>
  <tr>
    <th style="text-align: right;">Place</th>
    <th>|</th>
    <th colspan="6">Labial</th>
    <th>|</th>
    <th colspan="14">Coronal</th>
    <th>|</th>
    <th colspan="7">Dorsal</th>
    <th>|</th>
    <th colspan="5">Laryngeal</th>
    <th>|</th>
  </tr>
  <tr>
    <th></th>
    <th>|</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
  </tr>
  <tr>
    <th style="text-align: left;">Manner</th>
    <th>|</th>
    <th colspan="2">Bilabial</th>
    <th>|</th>
    <th colspan="2"><abbr title="Labio-dental">LD</abbr></th>
    <th>|</th>
    <th colspan="2"><abbr title="Linguo-labial">LL</abbr></th>
    <th>|</th>
    <th colspan="2">Dental</th>
    <th>|</th>
    <th colspan="2">Alveolar</th>
    <th>|</th>
    <th colspan="2"><abbr title="Post-alveolar">PA</abbr></th>
    <th>|</th>
    <th colspan="2"><abbr title="Retro-flex">RF</abbr></th>
    <th>|</th>
    <th colspan="2">Palatal</th>
    <th>|</th>
    <th colspan="2">Velar</th>
    <th>|</th>
    <th colspan="2">Uvular</th>
    <th>|</th>
    <th colspan="2"><abbr title="Pharyngeal/Epi-glottal">P/EG</abbr></th>
    <th>|</th>
    <th colspan="2">Glottal</th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
  </tr>
  <tr>
    <th>Nasal</th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'m̥'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'m'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɱ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'n̼'"></app-phonetic-btn></th>
    <th>|</th>
    <th></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'n̥'"></app-phonetic-btn></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'n'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɳ̊'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɳ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɲ̊'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɲ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ŋ̊'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ŋ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɴ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="5"></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="8" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
  </tr>
  <tr>
    <th>Plosive</th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'p'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'b'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'p̪'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'b̪'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'t̼'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'d̼'"></app-phonetic-btn></th>
    <th>|</th>
    <th></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'t'"></app-phonetic-btn></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'d'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʈ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɖ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'c'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɟ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'k'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɡ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'q'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɢ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʡ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʔ'"></app-phonetic-btn></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="5" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
  </tr>
  <tr>
    <th>Sibilant fricative</th>
    <th>|</th>
    <th colspan="8"></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'s'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'z'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʃ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʒ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʂ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʐ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɕ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʑ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="11"></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="8"></th>
    <th>+</th>
    <th colspan="5" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="11"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Sibilant affricate</th>
    <th>|</th>
    <th colspan="8"></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʦ'"></app-phonetic-btn></th>
    <th></th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʣ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʧ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʤ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʈ͡ʂ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɖ͡ʐ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʨ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʥ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="11"></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
  </tr>
  <tr>
    <th>Non-sibilant fric.</th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɸ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'β'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'f'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'v'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'θ̼'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ð̼'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'θ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ð'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'θ̠'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ð̠'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɹ̠̊˔'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɹ̠˔'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɻ˔'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ç'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʝ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'x'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɣ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'χ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʁ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ħ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʕ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'h'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɦ'"></app-phonetic-btn></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
  </tr>
  <tr>
    <th>Non-sibilant affr.</th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'p͡ɸ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'b͡β'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'p̪͡f'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'b̪͡v'"></app-phonetic-btn></th>
    <th>|</th>
    <th></th>
    <th></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'t̪͡θ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'d̪͡ð'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'t͡ɹ̝̊'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'d͡ɹ̝̠'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'t̠͡ɹ̠̊˔'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'d̠͡ɹ̠˔'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'c͡ç'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɟ͡ʝ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'k͡x'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɡ͡ɣ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'q͡χ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɢ͡ʁ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʡ͡ʢ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʔ͡h'"></app-phonetic-btn></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
  </tr>
  <tr>
    <th>Approximant</th>
    <th>|</th>
    <th colspan="2"></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʋ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"></th>
    <th>|</th>
    <th colspan="8"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɹ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɻ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'j'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɰ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="5"></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʔ̞'"></app-phonetic-btn></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="8" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
  </tr>
  <tr>
    <th>Tap/flap</th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ⱱ̟'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ⱱ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɾ̼'"></app-phonetic-btn></th>
    <th>|</th>
    <th></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɾ̥'"></app-phonetic-btn></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɾ'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɽ̊'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɽ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="5"></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɢ̆'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʡ̆'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="8" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="5"></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Trill</th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʙ̥'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʙ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="5"></th>
    <th>|</th>
    <th></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'r̥'"></app-phonetic-btn></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'r'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɽ̊r̥'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɽr'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="5"></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʀ̥'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʀ'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʜ'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʢ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="5"></th>
    <th>+</th>
    <th colspan="8" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Lateral fricative</th>
    <th>|</th>
    <th colspan="8"></th>
    <th>|</th>
    <th></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɬ'"></app-phonetic-btn></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɮ'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɭ̊˔'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɭ˔'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʎ̝̊'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʎ̝'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʟ̝̊'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʟ̝'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="8"></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="8"></th>
    <th>+</th>
    <th colspan="8" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="8"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Lateral affricate</th>
    <th>|</th>
    <th colspan="8"></th>
    <th>|</th>
    <th></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'t͡ɬ'"></app-phonetic-btn></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'d͡ɮ'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʈ͡ɭ̊˔'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɖ͡ɭ˔'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'c͡ʎ̝̊'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɟ͡ʎ̝'"></app-phonetic-btn></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'k͡ʟ̝̊'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɡ͡ʟ̝'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="8"></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="8"></th>
    <th>+</th>
    <th colspan="8" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="5"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Ltrl approximant</th>
    <th>|</th>
    <th colspan="8"></th>
    <th>|</th>
    <th colspan="8"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'l'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɭ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʎ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʟ'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʟ̠'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="5"></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="8"></th>
    <th>+</th>
    <th colspan="8" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="5"></th>
    <th>|</th>
  </tr>
  <tr>
    <th>Lateral tap/flap</th>
    <th>|</th>
    <th colspan="8"></th>
    <th>|</th>
    <th></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɺ̥'"></app-phonetic-btn></th>
    <th colspan="3"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɺ'"></app-phonetic-btn></th>
    <th></th>
    <th>|</th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɭ̥̆'"></app-phonetic-btn></th>
    <th><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ɭ̆'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʎ̝̆̊'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="2"><app-phonetic-btn [languageSounds]="languageSounds" (onClick)="clicked($event)"  [phonetic]="'ʟ̆'"></app-phonetic-btn></th>
    <th>|</th>
    <th colspan="8"></th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash></th>
    <th>+</th>
    <th colspan="8" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="8" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="2" app-horizontal-dash></th>
    <th>+</th>
    <th colspan="8" app-horizontal-dash></th>
    <th>+</th>
  </tr>
  </tbody>
</table>

