<table>
  <colgroup>
    <col class="border" span="1" style="width: 25%; white-space: nowrap;">
    <col class="border" span="1" style="width: 17px; white-space: nowrap;">
    <col class="border" span="1" style="width: 8px;">
    <col class="border" span="1" style="width: 75%;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th app-horizontal-dash colspan="4"></th>
    <th>+</th>
  </tr>
  <tr>
    <th colspan="4">Name</th>
    <th>|</th>
  </tr>
  <tr>
    <th app-horizontal-dash colspan="4"></th>
    <th>+</th>
  </tr>
  <tr>
    <th>Rules</th>
    <th>x</th>
    <th>|</th>
    <th></th>
    <th>|</th>
  </tr>
  </tbody>
</table>
