<table *ngIf="selectedLanguage && selectedLanguage.id" style="width: 100%; height: 100%">
  <colgroup>
    <col span="1" style="width: 200px; text-align: right">
    <col class="border" span="1" style="width: 32px;">
    <col span="1" style="width: auto;">
    <col span="1" style="width: 169px;">
  </colgroup>
  <tbody>
  <tr>
    <th style="text-align: right">Display Name</th>
    <th class="border">|<br/>|</th>
    <th style="text-align: left"><input (ngModelChange)="canUpdate = true" [(ngModel)]="selectedLanguage.displayName"/>
    </th>
    <th class="border" style="text-align: right">
      |<br/>|
    </th>
  </tr>
  <tr>
    <th style="text-align: right">Native Name</th>
    <th class="border">|<br/>|</th>
    <th style="text-align: left"><input (ngModelChange)="canUpdate = true" [(ngModel)]="selectedLanguage.nativeName"/>
    </th>
    <th class="border" style="text-align: right">|<br/>|</th>
  </tr>
  <tr>
    <th *ngIf="!editComment" style="text-align: right">[ <a (click)="editComment = true" class="text-yellow-dull" style>Description</a>
      ]
    </th>
    <th *ngIf="editComment" style="text-align: right">Description</th>
    <th class="border">|<br/>|<br/>|<br/>|<br/>|<br/>|</th>
    <th *ngIf="!editComment" style="text-align: left">{{selectedLanguage.comment}}</th>
    <th *ngIf="editComment" style="text-align: left"><textarea (ngModelChange)="canUpdate = true"
                                                               [(ngModel)]="selectedLanguage.comment"
                                                               [cols]="20" [rows]="5" style="width: 100%"></textarea>
    </th>
    <th class="border" style="text-align: right">
      |<br/>|<br/>|<br/>|<br/>|<br/>|
    </th>
  </tr>
  <tr>
  <tr>
    <th app-horizontal-dash class="border" colspan="3"></th>
    <th class="border">
      <span *ngIf="canUpdate">[ <a (click)="saveChanges()" class="text-green-dull">Save</a> ]</span><span
      *ngIf="!canUpdate">[ Save ]</span>-<span *ngIf="canDelete">[ <a (click)="deleteLanguage()" class="text-red-dull"
                                                                      style>Delete</a> ]</span><span *ngIf="!canDelete">[ Delete ]</span>-+
    </th>
  </tr>
  </tbody>
</table>
