.text-line {
  margin-left: 32px;
  text-transform: capitalize;
}

.cell-content {
  margin: 16px;
}

.text-cell-content {
  text-indent: 16px;
}

.word-description {
    margin-block-start: 0.5em;
    padding-inline-start: 40px;
}

.border-dull {
  color: #3D3D3D!important;
}
