<table>
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: auto;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th class="border">|</th>
    <th class="text-grey">
      <span *ngFor="let lang of detailedWordsKeys; let i = index"><span *ngIf="i>0"> - </span><a
        [fragment]="lang.displayName" [routerLink]="'.'"
        class="text-main link-btn">{{lang.displayName}}</a></span>

    </th>
    <th class="border">|</th>
  </tr>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border"></th>
    <th class="border">+</th>
  </tr>
  </tbody>
  <tbody *ngFor="let lang of detailedWordsKeys">
  <tr>
    <th class="border">|</th>
    <th class="text-white"><a [fragment]="lang.displayName" [id]="lang.displayName" [routerLink]="'.'"
                              class="text-white link-btn" style="text-transform: uppercase;">{{lang.displayName}}</a>
    </th>
    <th class="border">|</th>
  </tr>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border"></th>
    <th class="border">+</th>
  </tr>
  <tr *ngFor="let wwd of detailedWords.get(lang)">
    <th class="border">|</th>
    <th class="border" style="text-align: left;"><a [routerLink]="['/words', wwd.word?.word]"
                                                    class="text-green-dull text-line link-btn">{{wwd.word?.writtenWord}}</a> {{wwd.word?.partOfSpeech?.abbreviation}}
      <a [routerLink]="['/words', wwd.word?.word]" class="text-main link-btn">/ {{wwd.word?.word}} /</a>
      <span class="text-grey"> {{wwd.word?.comment}}</span></th>
    <th class="border">|</th>
  </tr>
  <tr>
    <th class="border">+</th>
    <th app-horizontal-dash class="border-dull"></th>
    <th class="border">+</th>
  </tr>
  <ng-container *ngFor="let wwd of detailedWords.get(lang); let i = index">
    <tr>
      <th class="border">|</th>
      <th class="border"><span style="text-transform: capitalize;">{{wwd.word?.partOfSpeech?.name}}</span></th>
      <th class="border">|</th>
    </tr>
    <tr>
      <th class="border">+</th>
      <th app-horizontal-dash class="border"></th>
      <th class="border">+</th>
    </tr>
    <tr>
      <th class="border">|</th>
      <th class="border"><span style="text-transform: capitalize;">Etymology <span>{{i + 1}}</span></span></th>
      <th class="border">|</th>
    </tr>
    <tr>
      <th class="border">+</th>
      <th app-horizontal-dash class="border"></th>
      <th class="border">+</th>
    </tr>
    <tr>
      <th app-vertical-dash class="border"></th>
      <th style="text-align: left;">
        <div class="cell-content text-cell-content">
          <p *ngIf="wwd.etymology?.from?.length">
            From <app-word-detail-list [wordsWithTranslations]="wwd.etymology?.from"></app-word-detail-list>.
          </p>
          <p *ngIf="!wwd.etymology?.from?.length">New word.</p>
          <p *ngIf="wwd.etymology?.cognate?.length">
            Cognate with <app-word-detail-list [wordsWithTranslations]="wwd.etymology?.cognate"></app-word-detail-list>.
          </p>
        </div>
      </th>
      <th app-vertical-dash class="border"></th>
    </tr>
    <tr>
      <th class="border">+</th>
      <th app-horizontal-dash class="border"></th>
      <th class="border">+</th>
    </tr>
    <ng-container *ngIf="wwd.translations && wwd.translations.length">
      <tr>
        <th class="border">|</th>
        <th class="border"><span style="text-transform: capitalize;">Translations</span></th>
        <th class="border">|</th>
      </tr>
      <tr>
        <th class="border">+</th>
        <th app-horizontal-dash class="border"></th>
        <th class="border">+</th>
      </tr>
      <tr>
        <th app-vertical-dash class="border"></th>
        <th style="text-align: left;">
          <div *ngIf="wwd.translations" class="cell-content">
            <app-word-detail-translations [translations]="wwd.translations"></app-word-detail-translations>
          </div>
        </th>
        <th app-vertical-dash class="border"></th>
      </tr>
      <tr>
        <th class="border">+</th>
        <th app-horizontal-dash class="border"></th>
        <th class="border">+</th>
      </tr>
    </ng-container>
    <ng-container *ngIf="wwd.derived && wwd.derived.length">
      <tr>
        <th class="border">|</th>
        <th class="border"><span style="text-transform: capitalize;">Derived</span></th>
        <th class="border">|</th>
      </tr>
      <tr>
        <th class="border">+</th>
        <th app-horizontal-dash class="border"></th>
        <th class="border">+</th>
      </tr>
      <tr>
        <th app-vertical-dash class="border"></th>
        <th style="text-align: left;">
          <div class="cell-content text-cell-content">
            <p *ngIf="wwd.derived">
              Derived to <app-word-detail-list [wordsWithTranslations]="wwd.derived"></app-word-detail-list>.
            </p>
          </div>
        </th>
        <th app-vertical-dash class="border"></th>
      </tr>
      <tr>
        <th class="border">+</th>
        <th app-horizontal-dash class="border"></th>
        <th class="border">+</th>
      </tr>
    </ng-container>
    <ng-container *ngIf="wwd.descendants && wwd.descendants.length">
      <tr>
        <th class="border">|</th>
        <th class="border"><span style="text-transform: capitalize;">Descendants</span></th>
        <th class="border">|</th>
      </tr>
      <tr>
        <th class="border">+</th>
        <th app-horizontal-dash class="border"></th>
        <th class="border">+</th>
      </tr>
      <tr>
        <th app-vertical-dash class="border"></th>
        <th style="text-align: left;">
          <div class="cell-content">
            <ul>
              <li *ngFor="let desc of wwd.descendants">{{desc.language?.displayName}}: <a>{{desc.word}} <span
                class="text-grey">({{desc.writtenWord}})</span></a>.
              </li>
            </ul>
          </div>
        </th>
        <th app-vertical-dash class="border"></th>
      </tr>
      <tr>
        <th class="border">+</th>
        <th app-horizontal-dash class="border"></th>
        <th class="border">+</th>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</table>
