<table>
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: auto;">
    <col span="1" style="width: 9px;">
    <col span="1" style="width: 70px;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <tbody>
  <tr>
    <th class="border">|<br>|<br>|<br>|</th>
    <th class="border" style="text-align: left; display: flex;">
      <app-all-languages (selectedLanguageChange)="loadDefault({languageFromId:$event?.id})"
                         [(selectedLanguage)]="languageFrom"
                         [label]="'From'"></app-all-languages>
      <input (ngModelChange)="loadDefault({word:$event})" [(ngModel)]="wordSearch"
             style="height: 16px; margin-left: 8px; margin-top: 30px; margin-right: 0px;" type="text"/>
      <app-all-languages (selectedLanguageChange)="loadDefault({languageToId:$event?.id})"
                         [(selectedLanguage)]="languageTo"
                         [label]="'To'"></app-all-languages>
      <input (ngModelChange)="loadDefault({translation:$event})" [(ngModel)]="translationSearch"
             style="height: 16px; margin-left: 8px; margin-top: 30px; margin-right: 0px;" type="text"/>
    </th>
    <th class="border">|<br>|<br>|<br>|</th>
    <th><a (click)="resetFilter()" class="text-red-dull">[ x ]</a></th>
    <th class="border">|<br>|<br>|<br>|</th>
  </tr>
  </tbody>
</table>
<table class="table-content">
  <colgroup>
    <col class="border" span="1" style="width: 8px;">
    <col span="1" style="width: 1%;">
    <col span="1" style="width: 20px;">
    <col span="1" style="width: auto;">
    <col span="1" style="width: 72px;">
    <col class="border" span="1" style="width: 8px;">
  </colgroup>
  <ng-container *ngFor="let word of words.data">
    <tbody app-translation-line [word]="word" [languageToFilter]="languageTo"></tbody>
  </ng-container>
</table>
<app-list-paginator (load)="loadDefault($event)" [page]="words.page?words.page:0"
                    [size]="pageSize"
                    [totalPages]="words.totalPages?words.totalPages:0"
                    [total]="words.total?words.total:0"></app-list-paginator>
