/* You can add global styles to this file, and also import other style files */

html {
  font-family: "Ubuntu Mono";
  font-size: 16px;
  color: #e4e4e4;
  background-color: #252525;
}

:focus {
  outline-color: #e4e4e4;
  outline-style: auto;
  outline-width: 1px;
}

a {
  color: #764c70;
  cursor: pointer;
}

a:hover,
a:active {
  color: #af7fa8;
}

input {
  caret-color: #e4e4e4;
  font-family: "Ubuntu Mono";
  color: #e4e4e4;
  font-size: 16px;
  margin: 0 auto;
  padding: 3px 0.5rem;
  border-radius: 0.2rem;
  background-color: transparent;
  border: 1px solid #5b5b55;
  /* transition: all 0.3s; */
}

.regular-checkbox {
  -webkit-appearance: none;
  border-radius: 0.2rem;
  display: inline-block;
  padding: 9px;
  position: relative;
  margin-bottom: -4px;
}

.regular-checkbox:checked:after {
  content: "*";
  font-size: 16px;
  position: absolute;
  top: 3px;
  left: 5px;
}

.regular-radio {
  -webkit-appearance: none;
  border-radius: 1rem;
  display: inline-block;
  padding: 9px;
  position: relative;
  margin-bottom: -4px;
}

.regular-radio:checked:after {
  content: "*";
  font-size: 16px;
  position: absolute;
  top: 3px;
  left: 5px;
}

.regular-radio:focus{
  outline-width: 0px;
}

select {
  font-family: "Ubuntu Mono";
  color: #e4e4e4;
  font-size: 16px;
  margin: 0 auto;
  padding: 3px 0.5rem;
  border-radius: 0.2rem;
  background-color: #252525;
  border: 1px solid #5b5b55;
  /* width: 90%; */
  /* display: block; */
  /* border-bottom: 0.3rem solid transparent; */
  transition: all 0.3s;
}

button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  background: transparent;
}

button:active {
  background: #af7fa8;
}

.btn-red {
  color: #bf2020;
}

button:focus.btn-red {
  outline-color: #bf2020;
}

button:active.btn-red {
  background: #bf2020;
  color: #252525;
}

.link-btn {
  text-decoration: none;
}

table {
  width: 100%;
}

.table-container {
  padding: 20px;
}

table,
th,
td {
  border: none;
  border-collapse: collapse;
}

tr:nth-child(even).table-content {
  background-color: #292828;
}

tr:hover.table-content {
  background-color: #333333;
}

/* tr:nth-child(odd).table-content {
  background-color: #333333;
} */

.text-green {
  color: #8fd637;
}

.text-blue {
  color: #719ed4;
}

.text-green-dull {
  color: #568a21;
}

a.text-green-dull:hover {
  color: #8fd637;
}

.text-blue-dull {
  color: #4f70a3;
}

.text-grey {
  color: #5b5b55;
}

.text-red-dull {
  color: #bf2020;
}

a.text-red-dull:hover {
  color: #ee2d2d;
}

.text-yellow-dull {
  color: #b7a036;
}

a.text-yellow-dull:hover {
  color: #f6e44d;
}

.text-main {
  color: #764c70;
}

col.border,
td.border {
  width: 1em;
}

.border {
  text-align: center;
  color: #5b5b55;
  font-weight: bold;
  padding: 0px;
}

td.border {
  padding: 0px;
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}

.break-word {
  word-break: break-word;
}

.whole-line {
  display: block;
  margin-top: -8px;
  width: 100%;
}

app-vertical-dash {
  height: 100%;
}

app-horizontal-dash {
  width: 100%;
}
