<label for="cars">Language: </label>
<app-language-select [(selectedLanguage)]="selectedLanguage" (selectedLanguageChange)="changeLang()">
</app-language-select>
<br>
<label for="cars">Language To: </label>
<select [(ngModel)]="selectedLanguageTo" (change)="updateLangTo()">
    <option [value]="undefined" disabled> --- Select Language --- </option>
    <option *ngFor="let l of langsTo" [value]="l">{{ l.toString() }}</option>
</select>
<br>
<br>

<div class="table-container">
    <table>
        <colgroup>
            <col span="1" class="border">
            <col span="1" style="width: auto;">
            <col span="1" style="width: auto;">
            <col span="1" style="width: auto;">
            <col span="1" class="border">
            <col span="1" style="width: max-content;">
            <col span="1" class="border">
            <col span="1" style="width: max-content;">
            <col span="1" class="border">
        </colgroup>
        <!-- WORDS TO EVOLVE ------------------------------------------------------------------------------------ -->
        <tbody *ngIf="wordsToEvolve.length">
            <tr>
                <th class="border">+</th>
                <th app-horizontal-dash class="border" colspan="3"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border" colspan="3"></th>
                <th class="border">+</th>
            </tr>
            <tr>
                <th class="border">|</th>
                <th class="border" colspan="3">WORDS TO EVOLVE</th>
                <th class="border">|</th>
                <th class="border" colspan="3"><a class="link-btn text-green-dull" (click)="evolveAllWords()">evolve all
                        words</a></th>
                <th class="border">|</th>
            </tr>
            <tr>
                <th class="border">+</th>
                <th app-horizontal-dash class="border" colspan="3"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
            </tr>
            <tr #trrow class="table-content" *ngFor="let wordToEvolve of wordsToEvolve">
                <td app-vertical-dash class="border"></td>
                <td class="text-main nowrap">/<a routerLink="/words/{{wordToEvolve.wordToEvolve.word}}"
                        [queryParams]="{lang: selectedLanguage}">{{ wordToEvolve.wordToEvolve.word }}</a>/ <span
                        class="text-grey">[{{
                        wordToEvolve.wordToEvolve.partOfSpeech | shortPos }}]</span>&nbsp;</td>
                <td></td>
                <td>{{ wordToEvolve.evolvedText }}</td>
                <td app-vertical-dash class="border"></td>
                <td><a class="link-btn" (click)="evolveWord(wordToEvolve)">evolve</a></td>
                <td app-vertical-dash class="border"></td>
                <td><a [ngClass]="!wordToEvolve.wordToEvolve.forgotten ? 'text-yellow-dull' : 'text-green-dull'"
                        class="link-btn"
                        (click)="forgetWord(wordToEvolve)">{{!wordToEvolve.wordToEvolve.forgotten?'forget':'unforget'}}</a>
                </td>
                <td app-vertical-dash class="border"></td>
            </tr>
            <tr *ngIf="!wordsToReEvolve.length && !evolvedWords.length">
                <th class="border">+</th>
                <th app-horizontal-dash class="border" colspan="3"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
            </tr>
        </tbody>
        <!-- WORDS TO REEVOLVE ------------------------------------------------------------------------------------ -->
        <tbody *ngIf="wordsToReEvolve.length">
            <tr>
                <th class="border">+</th>
                <th app-horizontal-dash class="border" colspan="3"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border" colspan="3"></th>
                <th class="border">+</th>
            </tr>
            <tr>
                <th class="border">|</th>
                <th class="border" colspan="3">WORDS TO REEVOLVE</th>
                <th class="border">|</th>
                <th class="border" colspan="3"><a class="link-btn text-green-dull" (click)="reEvolveAllWords()">reevolve
                        all
                        words</a></th>
                <th class="border">|</th>
            </tr>
            <tr>
                <th class="border">+</th>
                <th app-horizontal-dash class="border" colspan="3"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
            </tr>
            <tr #trrow class="table-content" *ngFor="let wordToEvolve of wordsToReEvolve">
                <td app-vertical-dash class="border"></td>
                <td class="text-main nowrap">/<a routerLink="/words/{{wordToEvolve.wordToEvolve.word}}"
                        [queryParams]="{lang: selectedLanguage}">{{ wordToEvolve.wordToEvolve.word }}</a>/ <span
                        class="text-grey">[{{
                        wordToEvolve.wordToEvolve.partOfSpeech | shortPos }}]</span>&nbsp;</td>
                <td><span class="text-grey">{{ wordToEvolve.evolvedText }}</span></td>
                <td>{{ wordToEvolve.evolvedText }}</td>
                <td app-vertical-dash class="border"></td>
                <td><a class="link-btn" (click)="reEvolveWord(wordToEvolve)">reevolve</a></td>
                <td app-vertical-dash class="border"></td>
                <td><a [ngClass]="!wordToEvolve.wordToEvolve.forgotten ? 'text-yellow-dull' : 'text-green-dull'"
                        class="link-btn"
                        (click)="forgetWord(wordToEvolve)">{{!wordToEvolve.wordToEvolve.forgotten?'forget':'unforget'}}</a>
                </td>
                <td app-vertical-dash class="border"></td>
            </tr>
            <tr *ngIf="!evolvedWords.length">
                <th class="border">+</th>
                <th app-horizontal-dash class="border" colspan="3"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
            </tr>
        </tbody>
        <!-- EVOLVED WORDS ------------------------------------------------------------------------------------ -->
        <tbody *ngIf="evolvedWords.length">
            <tr>
                <th class="border">+</th>
                <th app-horizontal-dash class="border" colspan="3"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border" colspan="3"></th>
                <th class="border">+</th>
            </tr>
            <tr>
                <th class="border">|</th>
                <th class="border" colspan="3">EVOLVED WORDS</th>
                <th class="border" colspan="4"></th>
                <th class="border">|</th>
            </tr>
            <tr>
                <th class="border">+</th>
                <th app-horizontal-dash class="border" colspan="5"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
            </tr>
            <tr #trrow class="table-content" *ngFor="let wordToEvolve of evolvedWords">
                <td app-vertical-dash class="border"></td>
                <td class="text-main nowrap">/<a routerLink="/words/{{wordToEvolve.wordToEvolve.word}}"
                        [queryParams]="{lang: selectedLanguage}">{{ wordToEvolve.wordToEvolve.word }}</a>/ <span
                        class="text-grey">[{{
                        wordToEvolve.wordToEvolve.partOfSpeech | shortPos }}]</span>&nbsp;</td>
                <td><span class="text-grey">{{ wordToEvolve.evolvedText }}</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td app-vertical-dash class="border"></td>
                <td><a [ngClass]="!wordToEvolve.wordToEvolve.forgotten ? 'text-yellow-dull' : 'text-green-dull'"
                        class="link-btn"
                        (click)="forgetWord(wordToEvolve)">{{!wordToEvolve.wordToEvolve.forgotten?'forget':'unforget'}}</a>
                </td>
                <td app-vertical-dash class="border"></td>
            </tr>
            <tr>
                <th class="border">+</th>
                <th app-horizontal-dash class="border" colspan="5"></th>
                <th class="border">+</th>
                <th app-horizontal-dash class="border"></th>
                <th class="border">+</th>
            </tr>
        </tbody>
    </table>
</div>